.contextMenu {
  position: absolute;
  z-index: 10;
  background: #000;
  color: #fff;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 0 0 8px 0;
  user-select: none;
}

.contextHeader {
  padding: 4px 12px;
  color: rgb(165, 165, 165);
  border-bottom: 1px solid #444;
  cursor: default;
}

.contextRow {
  padding: 4px 4px 4px 12px;
}

.contextRow:hover {
  background: rgb(58, 58, 124);
  cursor: pointer;
}
