.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-column-gap: 2px;
}

.grid input[type='text'] {
  width: 100%;
}

.vectorLabel {
  color: #666;
  display: inline-block;
  margin-right: 4px;
}

:global(.fragment) .inputSection {
  background: #334433;
}
:global(.vertex) .inputSection {
  background: #443333;
}

.inputSection {
  color: #eee;
  background: linear-gradient(#333, #333344);
  position: absolute;
  right: 0;
  left: 0;
  padding: 2px 0 2px 12px;
}

.outputLabel {
  text-align: right;
  left: -206px;
}

.outputs {
  position: absolute;
  right: 0;
  width: 200px;
  top: 0;
}
