.tab_tabs {
  display: grid;
  background: linear-gradient(#222, #111);
  grid-auto-flow: column;
  color: #fff;
  grid-auto-columns: max-content;
  border-bottom: 1px solid #000;
}
.tab_tab {
  user-select: none;
  max-height: 28px;
  border-radius: 6px 6px 0 0;
  border-right: 1px solid #000;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9), inset 0 1px rgba(255, 255, 255, 0.15);
  text-shadow: -1px -1px 0 #000;
  background: linear-gradient(rgba(63, 63, 63, 1), rgba(46, 46, 46, 1));
}

.tab_tab:hover {
  background: linear-gradient(#4f4f4f, #3f3f3f);
}

.tab_selected {
  box-shadow: inset 0 1px #19d600, inset 0 2px #358a00be;
  background: linear-gradient(rgb(66, 141, 1), rgb(23, 67, 3));
}
.tab_selected:hover {
  background: linear-gradient(rgb(68, 136, 8), rgb(32, 94, 4));
}
