html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  background: #000;
  /* stop mac left swipe gesture going back */
  overscroll-behavior-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mTop1 {
  margin-top: 20px !important;
}

.noselect {
  user-select: none;
}

.m-right-15 {
  margin-right: 15px;
}
