html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  background: #000;
  /* stop mac left swipe gesture going back */
  overscroll-behavior-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button[disabled] {
  opacity: 1;
  background-color: #999;
  color: #222;
}

.mTop1 {
  margin-top: 20px !important;
}
