.container {
  /* display: grid; */
  width: 100%;
  height: 100%;
  /* grid-template-columns: 1fr 1fr; */
}

.gutter {
  background: green;
  width: 10px;
  height: 100%;
}

.splitInner {
  width: 100%;
}

.leftCol {
  overflow: auto;
  resize: horizontal;
  border: 1px solid #000;
}

.edges {
  width: 100%;
  background: #010101;
  color: rgb(227, 252, 0);
}

.shader {
  width: 100%;
  min-height: 360px;
  background: #040404;
  color: #fff;
}

textarea.error {
  border: 1px inset red;
}

.button {
  align-items: center;
  margin: 1px;
  cursor: pointer;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  background: linear-gradient(0, #4b91f7 0%, #367af6 100%);
  color: #111;
  text-shadow: 2px ​1px 2px #aaa;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.editor {
  display: grid;
  grid-template-columns: 43px 1fr;
  max-height: 400px;
  overflow: scroll;
}

.sidebar {
  white-space: pre;
  font-family: monospace;
  color: #666;
  background: #000;
  font-size: 14px;
  user-select: none;
  line-height: 1.2em;
  padding: 0 7px;
}

.code {
  border: 0;
  font-size: 14px;
  min-height: 360px;
  background: #111;
  color: #fff;
  line-height: 1.2em;
  overflow: hidden;
  resize: none;
}

.codeError {
  background: rgb(46, 0, 0);
  color: rgb(255, 161, 161);
  font-family: monospace;
  white-space: break-spaces;
  padding: 10px;
}

/* editor specific tab styles */
.errored {
  background: rgb(176, 0, 0);
}

.selected.errored,
.secondary .tab_tab.selected.errored {
  background: rgb(84, 0, 0);
}

.secondary {
  background: #555;
}
.secondary .tab_tab {
  background: #444;
}
.secondary .tab_tab.selected {
  background: #111;
}
.secondary .tab_tab.errored {
  background: rgb(176, 0, 0);
}

.scene {
  position: relative;
  background: #222;
}

.tabControls {
  position: absolute;
  top: 2px;
  right: 10px;
  z-index: 10;
}

.activeEngine {
  display: inline-block;
  margin: 0 14px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 0 10px #000;
}

.tabButton {
  align-items: center;
  margin: 1px;
  cursor: pointer;
  padding: 3px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #333 0%, #1f1f1f 100%);
  background-origin: border-box;
  box-shadow: 0px 1px 1px rgb(114, 114, 114),
    inset 0px 0.8px 0px -0.25px rgb(0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tabButton:disabled {
  background: linear-gradient(180deg, rgb(77, 77, 77) 0%, #414141 100%);
  color: #ddd;
  text-shadow: 2px ​1px 2px #aaa;
}

.editorControls {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 10;
}

.sceneControls {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.sceneLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
