.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.edges {
  width:100%;
  background: #010101;
  color: rgb(227, 252, 0);
}

.code {
  width:100%;
  min-height:360px;
  background: #040404;
  color: #fff;
}

.shader {
  width:100%;
  min-height:360px;
  background: #040404;
  color: #fff;
}

textarea.error {
  border:1px inset red;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 28px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  font-size: 14px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: #7a82ee 0 3px 7px inset;
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}
