.flownode {
  border-radius: 10px;
  background: #111;
  color: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 150px;
}

.flowlabel {
  border-radius: 10px 10px 0 0;
  padding: 2px 8px;
  border-bottom: 1px solid #666;
  text-shadow: 0 0 2px #000;
}

.flowInputs {
  position: absolute;
  top: 0;
  width: 100%;
}

.react-flow__edgeupdater {
  opacity: 0.5;
  r: 4;
}

.react-flow__edge-path-selector:hover {
  cursor: pointer;
}
.react-flow__edge-path-selector:hover + .react-flow__edge-path,
.react-flow__edge-path:hover {
  stroke: #555;
  cursor: pointer;
}

.react-flow__edge-path-selector {
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 12;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 3;
}

.react-flow_handle_label {
  color: rgb(176, 228, 156);
  position: absolute;
}

.flownode .react-flow__handle {
  width: 14px;
  height: 14px;
  transition: 0.1s all ease-out;
  z-index: 10;
}

.flownode .react-flow__handle .react-flow__handle-left {
  left: -7px;
}

.flownode .react-flow__handle .react-flow__handle-right {
  right: -7px;
}

.react-flow__handle.react-flow__handle-connecting + .react-flow_handle_label {
  box-shadow: 0 0 10px 4px rgb(70, 70, 70);
  background: rgb(70, 70, 70);
  border-radius: 4px;
}

.react-flow__handle.validTarget {
  box-shadow: 0 0 10px #fff;
  border-color: #d4bcbc;
  background: #bfbfbf;
}

.react-flow__handle.react-flow__handle-connecting {
  box-shadow: 0 0 10px #fff;
  border: 4px solid #fff;
  background: #fff;
}

/* -------------- */
/* Fragment theme */
/* -------------- */

.fragment .react-flow_handle_label {
  color: rgb(176, 228, 156);
}

.selected .fragment.flownode {
  border: 1px solid #d4ff00;
}

.fragment .flowlabel {
  background: linear-gradient(to right, #326d29, #2d792d);
}

.selected .fragment .flowlabel {
  background: linear-gradient(to right, #3c7534, #3d833d);
  border-bottom: 1px solid #d4ff0080;
}

.inactive.fragment .flowlabel {
  background: linear-gradient(to right, #303d2e, #283a28);
}

.react-flow__edge.fragment .react-flow__edge-path {
  stroke: #d4ff00;
}

.react-flow__edge.fragment.updating .react-flow__edge-path {
  stroke: #7bff00;
}

/* selected edge */
.react-flow__edge.fragment.selected .react-flow__edge-path {
  stroke: #d4ff00;
}

/* selectable edge path */
.fragment .react-flow__edge-path-selector {
  stroke: rgba(0, 255, 0, 0.1);
}

/* updateable drag handle */
.fragment .react-flow__edgeupdater {
  fill: #333d00;
  stroke: #d4ff00;
}

.fragment.flownode .react-flow__handle {
  border-color: #d4ff00;
  background: #333d00;
  /* transition: box-shadow 0.2s ease-in; */
}

.fragment .react-flow__handle.validTarget {
  box-shadow: 0 0 20px 5px #0f0;
  border-color: #fefff7;
  background: #d4ff00;
}

.fragment .react-flow__handle.validTarget.react-flow__handle-connecting {
  box-shadow: 0 0 20px 5px #efe;
  border-color: #efe;
  background: #efe;
}

/* ------------ */
/* Vertex theme */
/* ------------ */

.vertex .react-flow_handle_label {
  color: #f86464;
}

.selected .vertex.flownode {
  border: 1px solid #fa5b5b;
}

.vertex .flowlabel {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #770921 0%, #8a0808 74%);
}

.selected .vertex .flowlabel {
  background-image: linear-gradient(147deg, #810b25 0%, #940d0d 74%);
  border-bottom: 1px solid #da1842;
}

.inactive.vertex .flowlabel {
  background-image: linear-gradient(147deg, #3b101a 0%, #3b1111 74%);
}

.react-flow__edge.vertex .react-flow__edge-path {
  stroke: #fa5b5b;
}

.react-flow__edge.vertex.updating .react-flow__edge-path {
  stroke: #ff0000;
}

/* selected edge */
.react-flow__edge.vertex.selected .react-flow__edge-path {
  stroke: #ff0000;
}

/* selectable edge path */
.vertex .react-flow__edge-path-selector {
  stroke: rgba(255, 0, 0, 0.1);
}

/* updateable drag handle */
.vertex .react-flow__edgeupdater {
  fill: #3a1919;
  stroke: #992424;
}

.vertex.flownode .react-flow__handle {
  border-color: #fa5b5b;
  background: #3a1919;
  transition: all 0.2s ease-in;
}

.vertex .react-flow__handle.validTarget {
  box-shadow: 0 0 10px #f00;
  border-color: #ffd3d3;
  background: #fa5b5b;
}

.vertex .react-flow__handle.validTarget.react-flow__handle-connecting {
  box-shadow: 0 0 20px 5px #fee;
  border-color: #fee;
  background: #fee;
}
