.tab_tabs {
  display: grid;
  background: linear-gradient(#3f3f3f, #333);
  box-shadow: inset 0 1px 0px #555;
  grid-auto-flow: column;
  color: #fff;
  grid-auto-columns: max-content;
  border-bottom: 1px solid #000;
}

.tab_tab {
  background: linear-gradient(#444, #333);
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px #444, inset 0 2px #555;
  border-right: 1px solid #000;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-shadow: 0 0 1px #000;
}

.tab_tab:hover {
  background: linear-gradient(#4f4f4f, #3f3f3f);
}

.tab_selected {
  box-shadow: inset 0 1px #2a2a2a, inset 0 2px #2f2f2f;
  background: linear-gradient(#222, #111);
}
.tab_selected:hover {
  background: linear-gradient(#2f2f2f, #111);
}
